@font-face {
    font-family: "FiraCode";
    src: url("./FiraCode-Regular.ttf");
}

@font-face {
    font-family: "Santanelli";
    src: url("./Santanelli.otf");
}

@font-face {
    font-family: "Lobster";
    src: url("./Lobster.otf");
}
