.layout-content {
  padding: 114px 58px 58px;
}

/* ------------------------------ */

.layout-content .soliloquy {
  padding: 8px 24px;

  position: relative;
  left: -8px;

  border-radius: 6px;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;

  display: inline-block;
}
