.layout-content {
  padding: 114px 58px 0;
}

/* ------------------------------ */

.layout-content .soliloquy {
  padding: 5px 16px;

  position: relative;
  left: -8px;

  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;

  display: inline-block;
}
