.waterdrop {
    .topbar {
        padding: 35px 120px 0;
        border-bottom: 1px solid #f4f3f3;
        h3 {
            font-size: 15px;
            display: inline-block;
            padding-bottom: 15px;
            border-bottom: 1px solid #000;
        }
    }
}
