@import '~@/assets/fonts/index.less';

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code';
    font-size: 12px;
    color: #666;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: #f5f7f9;
}
