@font-face {
  font-family: "OperatorMono Bold";
  src: url("./assets/OperatorMono-Bold.otf");
}
@font-face {
  font-family: "OperatorMono Book";
  src: url("./assets/OperatorMono-Book.otf");
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
